<nav [className]="'navbar'">
  <ul>
    <li>
      <a
        [routerLink]="['']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a [routerLink]="['category', 1]" [routerLinkActive]="['active']"
        >Cat 1</a
      >
    </li>
    <li>
      <a [routerLink]="['category', 2]" [routerLinkActive]="['active']"
        >Cat 2</a
      >
    </li>
    <li>
      <a [routerLink]="['category', 3]" [routerLinkActive]="['active']"
        >Cat 3</a
      >
    </li>
  </ul>
</nav>
