.navbar {
  height: 35px;
  line-height: 35px;
}
.active {
  font-weight: bold;
}
ul {
  display: flex;
}
li {
  list-style: none;
  padding: 0px 10px 0px 10px;
}
li a {
  align-items: center;
  color: #fff;
  text-decoration: none;
}
li a:hover {
  font-weight: bold;
}
